body
{
    background: url("http://mdbootstrap.com/img/Photos/Others/img%20(42).jpg") no-repeat center center fixed;
}

#tweet
{
    font:15px Verdana,Helvetica,sans-serif;	
    background-color:#FFF;
    position:absolute;
    top:15%;
    height:40px;
    width:80%;
    left:5%;
}

#submit
{
    font:15px Verdana,Helvetica,sans-serif;	
    position:absolute;
	width:7%;
	height:40px;
	top:15%;
	left:86%;
}

#outerDiv
{
    position:absolute;
    top:30%;
    width:79.55%;
    left:5.2%;
    padding-left: 0px;
    height:430px;
    overflow: hidden;
    
}

#list
{
    position:absolute;
    list-style: none; 
    font:15px Verdana,Helvetica,sans-serif;
    padding-left: 0px;	
    width:200%; /*To get rid of the scrollbar */
    height:430px;
    background-color:rgb(255, 255, 255,0.2);
    overflow-y: scroll;
    
}

#list li 
{
padding:10px 0 10px 20px;
color:rgb(0,0,0);
display:block;
width:100%;
padding: .2em 0.8em;
background-color:rgba(255, 255, 255, 0.4);
}
#list li:hover
{
background-color:rgb(255, 255, 255,0.8);
color:rgb(0,0,0);
}

#popup {
    position: absolute;
    display: none;
    width:auto;
    height: 5%;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    background-color:rgba(0, 0, 0, 0.4);
    top:22.5%;
    left:4.85%;
}

#arrow {
    display: none;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.4);
    top:21.25%;
    left:5.3%;
  }